* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utils */
.container {
    max-width: 1600px;
    margin: 0 auto;
    /*padding-top: 150px;*/
}

a {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.row {
    display: flex;
}

span{
    font-family: sans-serif;
}

div.padding-top {
    padding-top: 200px;
}

span.new-price {
    color: red;
    font-weight: bold;
}

span.old-price {
    text-decoration: line-through;
}

h3 {
    font-family: sans-serif;
}

span.discount {
    padding: 5px 10px;
    font-weight: bold;
    color: white;
    background-color: red;
    position: absolute;
    bottom: 120px;
    left: 0;
}

span.sustainability {
    padding: 5px 10px;
    font-weight: bold;
    color: white;
    background-color: green;
    position: absolute;
    bottom: 120px;
    left: 57px;
}

span.sl {
    padding: 5px 10px;
    font-weight: bold;
    color: white;
    background-color: green;
    position: absolute;
    bottom: 120px;
    left: 0;
}

.favourite {
    font-size: 25px;
    color: black;
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 20px;
    right: 0;
}

.card:hover .favourite{
    color: red;
}

.icons {
    color: white;
    font-size: 1.5rem;
}

/* header */
header {
    position: fixed;
    z-index: 1;
    padding: 25px;
    width: 100%;
    height: 100px;
    background-color: #FF6900;
    box-shadow: 0 0 10px black;
}

.navbar {
    height: 50px;
    width: 100%;
}


.nav-left {
    flex-basis: 15%;
    height: 50px;
    align-items: center;
    gap: 10px;
}

.nav-center {
    flex-basis: 70%;
    height: 50px;
    justify-content: center;
}

.nav-right {
    flex-basis: 15%;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

/* main */
.row-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

img {
    max-width: 520px;
    display: inline-block;
}

.img-hover {
    display: none;
}

.card:hover .img-normal {
    display: none;
}

.card:hover .img-hover {
    display: inline-block;
}

.col {
    flex-basis: calc((1600px / 3) - (40px / 3));
    padding-top: 50px;
}

.card {
    position: relative;
}



/* footer */

footer {
    height: 120px;
    background-color: #1A1A1A;
    margin-top: 50px;
    border-bottom: 2px solid lightgray;
}

h3.f-h3 {
    color: white;
    padding-bottom: 10px;
}

.info {
    height: 120px;
    padding-top: 30px;
    justify-content: space-between;
}

.footer-left {
    flex-basis: 35%;
    height: 50px;
}

.info-links {
    font-weight: lighter;
    color: white;
    flex-basis: 100%;
  
}


.footer-right {
   flex-basis: 10%;
   height: 50px;
}

.find-us {
    position: relative;
}

h4{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    text-align: right;
    position: relative;
    top: 0;
    right: 20px;
}

.icons-flex {
    padding-top: 10px;
    justify-content: flex-end;
    justify-content: space-around;
}

.icons-bottom {
    color: white;
    font-size: 1.5rem;
}